.App {
  position: relative;
  margin: 0 auto;
}

a {
  text-decoration: none;
  text-transform: none;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

div {
  position: relative;
}

.navBar {
  width: 100%;
  min-height: 30px;
  background-color: lightblue;
  margin-bottom: 10px;
  color: white;
}

.links {
  display: inline-block;
  width: 5%;
  padding-top: 5px;
}